.movie {
  height: 100px;
  display: inline-table;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 5px;
}

.title {
  font-weight: bold;
}

.delete {
  align-self: flex-end;
  cursor: pointer;
}

.like {
  cursor: pointer;
}

.dislike {
  cursor: pointer;
}
